body{
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    background: linear-gradient(333deg, #61d9fd, #21cbff, #12bbee, #01a3d4, #007ca1);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
    overflow: hidden;
}
h2{
   font-size: 3em; 
}
.positive{
    color: red;
    font-size: 1.5em;
}
.negative{
    color: green;
    font-size: 1.5em;
}
.result{
    font-size: 2em;
}
table
{
    width: 50%;
	border-collapse: collapse;
	border: 4px solid white;
	border-radius: 1px;
	min-width: 40vw;
	min-height: 50vh;
	border-style: hidden; /* hide standard table (collapsed) border */
	box-shadow: 0 0 0 1px rgb(255, 254, 254);
	border-radius: 10px;
	margin-left: 2%;
}
footer{
    background-color: black;
    color: white;
    font-family: 'montesserat', sans-serif;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
label{
    display: block;
    font-size: 2em;
    color: white;
}
.table{
    display: flex;
    align-items: center;
    justify-content: center;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}
@keyframes AnimationName {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}